@model IEnumerable<Lab.Models.Entities.Person>
@{
    ViewBag.Title = "ListOfPeople";
}


<h2>Список участников опрос</h2>

<table>
    <thead>
        <tr class="text-center">Наименование</tr>
        <tr class="text-center">Возраст</tr>
        <tr class="text-center">#</tr>
    </thead>
    <tbody>
        @foreach (var person in Model)
        {
            <tr class="text-center">
                <td>@person.LastName @person.FirstName @person.Patronymic</td>
                <td>@person.Age</td>
                <td><a>@person.Id</a></td>
            </tr>
        }
    </tbody>
</table>
